target
/.idea
/.sbtserver
/.idea_modules
/.classpath
/.project
/.project/.sbtserver*
/.settings
/RUNNING_PID
*.swp
work/checkpoint
project/project
project/work
*.iml
BACKUPGFXD*
DRLK_IFGFXD-DEFAULT-DISKSTORE.lk
datadictionary/
*.log*
